@charset "UTF-8";
/*
Theme Name: BlankSlate
Theme URI: https://github.com/tidythemes/blankslate
Author: TidyThemes
Author URI: http://tidythemes.com/
Description: Please read: tidythemes.com/concept. BlankSlate is the definitive WordPress HTML5 boilerplate starter theme. We've carefully constructed the most clean and minimalist theme possible for designers and developers to use as a base to build websites for clients or to build completely custom themes from scratch. Clean, simple, unstyled, semi-minified, unformatted, and valid code, SEO-friendly, jQuery-enabled, no programmer comments, standardized and as white label as possible, and most importantly, the CSS is reset for cross-browser-compatability and no intrusive visual CSS styles have been added whatsoever. A perfect skeleton theme. For support and suggestions, go to: https://github.com/tidythemes/blankslate/issues. Thank you.
Version: 2019.1
License: GNU General Public License
License URI: https://www.gnu.org/licenses/gpl.html
Tags: one-column, two-columns, custom-menu, featured-images, microformats, sticky-post, threaded-comments, translation-ready
Text Domain: blankslate

BlankSlate WordPress Theme © 2011-2019 TidyThemes
BlankSlate is distributed under the terms of the GNU GPL
*/
/*
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}body{line-height:1}button{outline:0}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}q{display:inline;font-style:italic}q:before{content:'"';font-style:normal}q:after{content:'"';font-style:normal}textarea,input[type="text"],input[type="button"],input[type="submit"],input[type="reset"],input[type="search"],input[type="password"]{-webkit-appearance:none;appearance:none;border-radius:0}table{border-collapse:collapse;border-spacing:0}th,td{padding:2px}big{font-size:120%}small,sup,sub{font-size:80%}sup{vertical-align:super}sub{vertical-align:sub}dd{margin-left:20px}kbd,tt{font-family:courier;font-size:12px}ins{text-decoration:underline}del,strike,s{text-decoration:line-through}dt{font-weight:bold}address,cite,var{font-style:italic}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}*{box-sizing:border-box;-webkit-tap-highlight-color:transparent}
.sticky{}.bypostauthor{}.wp-caption{}.wp-caption-text{}.gallery-caption{}.alignright{}.alignleft{}.aligncenter{}.screen-reader-text{clip:rect(1px, 1px, 1px, 1px);position:absolute !important}

*/
@import url("https://fonts.googleapis.com/css2?family=Creepster&&family=Dorsa&family=Lato&family=Oswald&display=swap");
html {
  background: #000000;
  color: rgba(255, 255, 255, 0.87);
  min-height: 100vh;
}

body {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-family: jaf-mashine, sans-serif;
  font-style: normal;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h4,
h4,
h5,
h6 {
  font-weight: 700;
}

p {
  text-align: left;
  font-size: calc(1rem + .5vw);
}

h1.entry-title {
  text-align: center;
  font-size: calc(2rem + 2vw) !important;
  text-decoration: none;
  text-shadow: 0 0 10px rgba(238, 0, 0, 0.99);
  font-size: calc(2rem + 5vw);
}

a {
  text-decoration: none;
  color: #E70000;
}

a:hover {
  text-decoration: underline;
}

#branding,
#content {
  padding: 0 2rem;
}

.home .entry-title {
  display: none;
}

#site-description {
  font-family: 'Dorsa', sans-serif;
  font-size: calc(3.25rem + .4vw);
  text-align: center;
  color: #E70000;
}

#menu-pg-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#menu-pg-navigation li {
  list-style: none;
  margin: .5rem;
  padding: 1rem;
}

#menu-pg-navigation li a {
  border: 1px solid #E70000;
  padding: 1rem;
  border-radius: .5rem;
  font-size: calc(1rem + .25vw);
  -webkit-transition: all .75s ease;
  transition: all .75s ease;
}

#menu-pg-navigation li a:hover {
  text-decoration: none;
  background: #E70000;
  color: #000000;
}

@media only screen and (max-width: 720px) {
  #menu-pg-navigation {
    padding: 0;
  }
  #menu-pg-navigation li {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  #menu-pg-navigation li a {
    display: block;
    padding: .5em;
    border: 0;
    border-radius: 0;
  }
}

.dorsa {
  font-family: 'Dorsa', sans-serif;
}

#site-title a {
  display: block;
  max-width: 70%;
  margin: 0 auto;
}

@media only screen and (min-width: 720px) {
  #site-title a {
    max-width: 50%;
  }
}

a.post-edit-link {
  display: block;
  margin: 1rem 0;
  text-align: right;
  color: red;
  font-size: 1.15em;
}

figure {
  margin: 0;
}

footer,
#footer {
  border-top: 1px solid #E70000;
  border-bottom: 1px solid #E70000;
  margin: calc(1.5rem + 1vh) 0;
}

ul.social-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

ul.social-menu li {
  max-width: calc(2rem + 2vw);
}

ul.social-menu .bg {
  fill: transparent;
}

ul.social-menu a .icon-group {
  fill: #E70000;
  -webkit-transition: all .75s ease;
  transition: all .75s ease;
}

ul.social-menu a:hover .icon-group {
  fill: #e8e8e8;
}

li {
  list-style: none;
  display: block;
  padding: 0 .5rem;
}

.svg-container {
  width: 100%;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="url"],
textarea {
  width: 100%;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="number"],
input[type="password"],
select,
textarea {
  padding: 0.75rem;
  border-radius: 1rem;
}

table input[type="text"],
table input[type="number"] {
  border-radius: 0;
}

form.woocommerce-ordering {
  display: none;
}

p.woocommerce-result-count {
  display: none;
}

.woocommerce-MyAccount-navigation ul {
  text-align: left;
}

.woocommerce-MyAccount-navigation ul li {
  padding-bottom: .33em;
}
/*# sourceMappingURL=style.css.map */